<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <!-- ForceSSL - yes, no or ask - whether http should become https-->
    <add key="ForceSSL" value="ask"/>
    <add key="VPNInterface" value="ProtonVPN TUN"/>
    <add key="VPNExecutable" value="C:\Program Files (x86)\Proton Technologies\ProtonVPN\ProtonVPN.exe"/>
  </appSettings>
</configuration>
